/* body{
  background-image: url('./img/bg.png'); 
  background-size: 1920px 1080px ;
  -moz-background-size:1920px 1080px ;
  background-repeat: no-repeat;
  height: auto;

} */
.app-container{

  font-family: 'Prompt', sans-serif;
  background-color: #F1B19B;
  width: 800px;
  border-radius: 5px ;
  height:100%;
  padding: 50px;
 

}
.app-newcontent{
  background-color: rgb(255, 255, 255);
  border-radius: 5px ;
  width: 565px;
  height:80px;
  margin-top: 60px;
  text-align: left;
  font-size: 20px;
  padding: 10px;
}
.input-text{
  margin: 10px;
}
.input{
  font-size: 20px;
  margin-top: 20px;
  width: 550px;
  padding: 20px;
  font-family: 'Prompt', sans-serif;
  border-radius: 5px;
  border: none;
}
.app-header{
  color:aliceblue;
  font-size: 40px;
  width: 600px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.app-button{
  width: 600px;
}

.tweet-button{
  color: aliceblue;
  background-color: #503468 ;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  width: 100px;
  padding: 5px;
  font-family: 'Prompt', sans-serif;
  right: 20px;
  float:right;

}
.tweet-button:hover{
  color: aliceblue;
  background-color: #845ca5 ;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  width: 100px;
  padding: 5px;
  font-family: 'Prompt', sans-serif;
  right: 20px;
  float:right;

}
.input-edit{

  font-size: 20px;
  height: 180px;
  width: 550px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: 'Prompt', sans-serif;
  border-radius: 5px;
  border: none;
  margin-top: 100px;
 
  z-index: 999;

}
.btn-edite{
  font-size: 20px;
  background-color: #fff;
  border: none;
  position:relative;
  right: -500px;
  margin-top: 25px;
}
.btn-edite:hover{
  background-color: rgb(218, 218, 218);

}
.btn-delete{
  font-size: 18px;
  background-color: #fff;
  border: none;
  position:relative;
  right: -505px;
}
.btn-delete:hover{
  background-color: rgb(218, 218, 218);

}
.btn-update{
  font-size: 18px;
  background-color: #fff;
  border: none;
  position: absolute;
  
 
}
.app-edit-note{
  background-color: rgba(0, 0, 0, 0.699);
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.btn-update{
  color: aliceblue;
  background-color: #503468 ;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 80px;
  padding: 5px;
  font-family: 'Prompt', sans-serif;
  right: 280px;
  float:right;
  display: block;
  
 
}
.btn-cancle{
  color: aliceblue;
  background-color: #503468 ;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  width: 80px;
  padding: 5px;
  font-family: 'Prompt', sans-serif;
  right: 185px;
  float:right;
  
  position: absolute;
  display: block;
  
 
}
