.btn-like{
   border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background-image: -webkit-linear-gradient(45deg, #EF7C53 50%, transparent 50%);
    background-image: linear-gradient(45deg, #EF7C53 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    display:block;
    margin-top: 25px;
  }
  .btn-like:hover {
    background-position: 0;
    color: aliceblue;
  }